<template>
    <div>
        <List :list="list" @event-cl="event"></List>
    </div>
</template>

<script>
import List from '../components/List.vue';
export default {
    components: { List },
    data() {
        return {
            list: [
                { title: "1", text: "adasd" },
                { title: "2", text: "adasd" },
                { title: "3", text: "adasd" },
                { title: "4", text: "adasd" },
                { title: "5", text: "adasd" },
            ]
        };
    },
    methods:{
        event(event, title){
            console.log(title, event)
        }
    }
}
</script>

<style lang="scss" scoped></style>