<template>
    <div style="width:200px">
        <div class="container">
            <h1>{{ title }}</h1>
            <p>{{ text }}</p>
        </div>
        <button @click="event">btn</button>
    </div>
</template>

<script>
export default {
    props:{
        title:{},
        text:{}
    },
    methods:{
        event(event){
            this.$emit('event-cl', event, this.title)
        }
    }
}
</script>

<style lang="scss" scoped>
div {

    display: flex;
    flex-direction: row;

}

.container{
    width: 50%;
    flex-direction: column;
}
button{
    width: 50%;
}
</style>