<template>
    <div>
        <div class="container" v-for="(item, key) in list" :key="key">
            <item :text="item.text" :title="item.title" @event-cl="event"></item>
        </div>
    </div>
</template>

<script>
import item from './item.vue'

export default {
    components: { item },
    props: {
        list: {}
    },
    methods:{
        event(event, title){
            this.$emit('event-cl', event, title)
        }
    }

}
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    flex-direction: column;
    width: 600px;
}
</style>