<template>
    <div>
        <p>fdsfds</p>
        <!-- <List :list="list"></List> -->
    </div>
</template>

<script>
import List from '../components/';
export default {
    components: { List },
    data() {
        return {
            list: [
                { title: "1", text: "adasd" },
                { title: "2", text: "adasd" },
                { title: "3", text: "adasd" },
                { title: "4", text: "adasd" },
                { title: "5", text: "adasd" },
            ]
        };
    },
}
</script>

<style lang="scss" scoped></style>